/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/node_modules/
target/*
/microservices-project/services/api-gateway/target
/microservices-project/services/project-service/target
/microservices-project/services/user-service/target
/microservices-project/services/service-discovery/target
/microservices-project/dist/target
